.one-page {
  font-family: Helvetica;
  background-color: #ebebeb;
  background-attachment: fixed;
  background-image: url(images/bg-tenshi.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 65cm;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #aa0481bb;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

input[type="submit"]:hover {
  background-color: #aa0481;
}

.contact-wrapper {
  display: inline-block;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 5px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.pj-images {
  position: relative;
  left: 30%;
}

.Page-content-markers {
  display: flex;
  text-align: left;
}

.main-content-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
}

.page-header {
  background-color: rgb(27, 27, 27);
  height: 70px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.Page-content-markers {
  margin-left: -15px;
}

.header-content-marker {
  font-size: 30px;
  list-style: none;
  padding-right: 70px;
  padding-top: 12px;
}

.marisa-ico2 {
  margin-left: -12px;
  padding-top: 3px;
}

.marisa-ico {
  display: none;
}

.header-link {
  color: #ebebeb;
  text-decoration: none;
}

.header-content-marker a {
  text-decoration: none;
}

.section-divider {
  font-size: 50px;
}

.info-block {
  font-size: 35px;
  line-height: 50px;
  padding-right: 5px;
  padding-left: 5px;
}

.main-content-wrapper {
  background-color: #ebebeb7e;
}

@media screen and (max-width: 360px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }

  .column {
    float: left;
    width: 80%;
    margin-top: 6px;
    padding: 10px;
  }
}

@media all and (max-width: 1920px) {
  .one-page {
    background-size: 52cm;
  }

  .page-header {
    background-color: rgb(27, 27, 27);
    height: 60px;
  }

  .header-content-marker {
    font-size: 30px;
    padding-right: 70px;
    padding-top: 10px;
  }

  .section-divider {
    font-size: 40px;
  }

  .info-block {
    font-size: 32px;
    line-height: 40px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media all and (max-width: 1536px) {
  .one-page {
    background-size: 40cm;
  }

  .section-divider {
    font-size: 35px;
  }

  .info-block {
    font-size: 30px;
    line-height: 35px;
  }
}

@media all and (max-width: 1366px) {
  .header-content-marker {
    font-size: 25px;
  }

  .section-divider {
    font-size: 30px;
  }

  .info-block {
    font-size: 28px;
    line-height: 33px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media all and (max-width: 1080px) {
  
  .header-content-marker {
    font-size: 30px;
    padding-right: 40px;
    padding-top: 12px;
  }
  
  .header-content-marker {
    font-size: 20px;
    padding-top: 15px;
  }

  .marisa-ico2 {
    margin-left: -12px;
    padding-top: 3px;
  }

  .info-block {
    font-size: 27px;
    line-height: 30px;
    padding-right: 5px;
    padding-left: 10px;
  }
}

@media all and (max-width: 780px) {
  .one-page {
    background-image: url(images/bg-rumia.jpg);
    background-size: 21cm;
  }

  .Page-content-markers {
    margin-left: -15px;
  }

  .header-content-marker {
    font-size: 17px;
    list-style: none;
    padding-right: 18px;
    padding-top: 15px;
  }

  .marisa-ico2 {
    margin-left: -12px;
    padding-top: 3px;
  }

  .info-block {
    line-height: 25px;
    font-size: 23px;
  }
}

@media all and (max-width: 650px) {
  .one-page {
    background-size: 18cm;
  }

  .header-content-marker {
    font-size: 13px;
    list-style: none;
    padding-right: 11px;
    padding-top: 15px;
  }

  .marisa-ico {
    display: none;
  }
  .marisa-ico2 {
    margin-left: -12px;
    padding-top: 3px;
  }
}

@media all and (max-width: 414px) {
  .one-page {
    background-size: 15cm;
  }

  .main-content-wrapper {
    padding-left: 20px;
  }

  .page-header {
    background-color: rgb(27, 27, 27);
    height: 20px;
    position: sticky;
    top: 0px;
  }

  .Page-content-markers {
    margin-left: -15px;
  }

  .header-content-marker {
    font-size: 7px;
    list-style: none;
    padding-right: 11px;
    padding-top: 7px;
  }

  .marisa-ico {
    margin-left: -12px;
    padding-top: 3px;
  }
  .marisa-ico2 {
    display: none;
  }

  .header-link {
    color: #ebebeb;
  }

  .header-content-marker a {
    text-decoration: none;
  }

  .section-divider {
    font-size: 20px;
    opacity: 1;
  }

  .info-block {
    font-size: 12px;
    line-height: 18px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .main-content-wrapper {
    background-color: #ebebeb7e;
  }
}

@media all and (max-width: 360px) {
  .main-content-wrapper {
    padding: 10px 10px 10px 10px;
  }

  .page-header {
    background-color: rgb(27, 27, 27);
    height: 20px;
    position: sticky;
    top: 0px;
  }

  .Page-content-markers {
    margin-left: -15px;
    padding-top: 0px;
  }

  .header-content-marker {
    font-size: 7px;
    list-style: none;
    padding-right: 11px;
    padding-top: 7px;
  }

  .marisa-ico {
    margin-left: -12px;
    padding-top: 3px;
    display: inline;
  }
  .marisa-ico2 {
    display: none;
  }

  .header-link {
    color: #ebebeb;
  }

  .header-content-marker a {
    text-decoration: none;
  }

  .section-divider {
    font-size: 20px;
    opacity: 1;
  }

  .info-block {
    font-size: 12px;
    line-height: 18px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .main-content-wrapper {
    background-color: #ebebeb7e;
  }
}
